.idea
env.cfg
/cache/*
!/cache/.gitkeep

CitizenFX.log
ghostsessiondebug.txt
desktop.ini

.ftpconfig
.remote-sync.json
/resources/[car]/

resources/\[essential\]/logs/

resources/\[essential\]/logs/
