endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

sv_hostname "La Life RP - FXS"

rcon_password se65t4d5rt4s5e

# sv_scriptHookAllowed 1

set mysql_connection_string "server=127.0.0.1;database=gta5_gamemode_essential;userid=root;password=Police911911pp"

# hide player endpoints in external log output
sv_endpointprivacy true

# disable announcing
sv_master1 ""
